@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap');
body{
    color:#ffffff;
    width: 100%;
    display: flow-root;
    justify-content: center;
    align-items:  flex-start;
    height: 100vh;
    font-family: 'Baloo Thambi 2', cursive;
}
.container{
    animation: glow 2s infinite;
}
@keyframes glow {
    0%, 100%{
        color: #ffffff;
        text-shadow: 0 0 12px aqua;
    }
}
.container{
    animation-delay: 0,25;
}
